* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins, sans-serif";
}

body {
    margin: 0;
    padding: 0;
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins, sans-serif";
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 41.66%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 66.66%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; }


  .header {
    background-color: rgb(238, 200, 33);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
  }

  .logo img {
    width: 250px;
    height: 50px;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .logo img:hover {
    box-shadow: 0 0 10px 5px white;
    transform: scale(1.2);
  }

  
  nav {
    align-items: right;
    margin-top: 20px;
    margin-right: 30px;
    padding-right: 50px;
    font-weight: bolder;
  }

  nav ul {
    list-style-type: none;
  }

  nav ul li {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  nav ul li a {
    color: #ffff;
    padding: 0px;
    text-decoration: none;
    font-size: 20px;
  }

  /* Change the link color on hover */
  nav li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
  }

  nav ul li a.current {
    color: black;
  }

  .logout i {
    font-size: 20px;
    color: red;
  }

  .pizza {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-left: 400px;
    padding-right: 150px;
    padding-top: 50px;
    background-image: url(wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cart p{
    font-size: 35px;
    color: black;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}

.cart a {
    text-decoration: none;
    font-size: 20px;
}

.cart a {
    background: rgb(238, 200, 33);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    color: #000;
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cart a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transform: scale(1.2);
}

.food img {
    width: 700px;
    height: 720px;
}

  footer {
      background: rgb(238, 200, 33);
      height: 10vh;
      font-size: 20px;
  }

  footer p {
      text-align: center;
      line-height: 10vh;
      font-weight: 600;
  }

  footer p a {
      color: white;
      text-decoration: none;
      font-weight: 900;
  }

  footer p a:hover {
    text-decoration: underline;
  }

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%
  }

  @media only screen and (max-width: 650px) {

    .header {
      display: block;
    }
  
    .logo {
   
      text-align: center;
      color: black;
      letter-spacing: 1px;
      cursor: pointer;
      font-size: 25px;
      font-weight: bold;
    }
    
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-color: rgb(238, 200, 33);
      background-size: 100%;
      margin: 0px;
      padding-right: 0px;
    }

    nav ul li {
      display: block;
      padding: 10px;
      text-align: center;
    } 

    nav ul li a {
      font-size: 15px;
    }

    row { 
      margin: 0px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .pizza {
        display: block;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 125px;
        padding-bottom: 125px;
    }
    
    .cart p{
        font-size: 15px;
    }
    
    .cart a {
        text-decoration: none;
        font-size: 15px;
    }
    
    .cart a {
        background: rgb(238, 200, 33);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 50px;
        color: #000;
        text-align: center;
        font-weight: bold;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .cart a:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        transform: scale(1.1);
    }
    
    .food img {
        width: 200px;
        height: 200px;
        align-items: center;
    }
  }

  @media only screen and (max-width: 1500px) {
    .pizza {
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 125px;
        padding-bottom: 125px;
    }
    
    .cart p{
        font-size: 25px;
    }
    
    .cart a {
        text-decoration: none;
        font-size: 20px;
    }
    
    .cart a {
        background: rgb(238, 200, 33);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 50px;
        color: #000;
        text-align: center;
        font-weight: bold;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .cart a:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        transform: scale(1.1);
    }
    
    .food img {
        width: 500px;
        height: 500px;
    }
  }

@media only screen and (max-width: 850px) {
  
  footer {
      background: rgb(238, 200, 33);
      height: 10vh;
  }

  footer p {
      text-align: center;
      line-height: 10vh;
      font-weight: 600;
  }

  footer p a {
      color: white;
      text-decoration: none;
      font-weight: 900;
  }
}

 /* For Tablets: */
  @media only screen and (min-width: 600px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

  }


  /* For Desktop: */
  @media only screen and (min-width: 768px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }


